<!-- Structure -->
<div class="w-full py-6">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <!-- Title and Description -->
    <h1 class="text-3xl sm:text-start text-center md:text-4xl
     font-bold tracking-tight text-va-primary text-pretty">
      Ingreso al Portal
    </h1>
    <p class="mt-2 sm:text-start text-center text-lg
     md:text-xl text-gray-700 text-pretty">
      Para ingresar, los pacientes y especialistas deben iniciar sesión. También
      se pueden usar los ingresos rápidos.
    </p>

    <!-- Fast Login Card -->
    <div class="mt-6">
      <app-fast-login-card></app-fast-login-card>
    </div>

    <!-- Form -->
    <div class="mt-6">
      <app-login-form></app-login-form>
    </div>
  </div>
</div>
