<div class="p-6 bg-lightblue-primary rounded border border-va-third/20 shadow">
  <!-- Title, description and Toggle button -->
  <div class="ml-3">
    <h2 class="text-va-primary text-3xl font-semibold">
      Nuevo {{ this.isSpecialist() ? "Especialista" : "Paciente" }}
    </h2>
    <p class="mb-4 text-lg">
      Este es el formulario de registro para

      <strong class="text-va-primary">{{
        this.isSpecialist() ? "Especialista" : "Paciente"
      }}</strong
      >. Si querés registrarte como

      <strong class="text-va-primary">{{
        this.isSpecialist() ? "Paciente" : "Especialista"
      }}</strong
      >,

      <button
        class="cursor-pointer p-1 bg-va-third text-white hover:underline hover:underline-offset-2"
        (click)="toggleMode()"
      >
        hacé clic acá.
      </button>
    </p>
  </div>

  <!-- Form -->
  <div class="relative">
    <form
      [formGroup]="form"
      (ngSubmit)="onSubmit()"
      class="flex flex-wrap gap-4 justify-between"
    >
      <!-- Input Group (User base 1) -->
      <div class="flex flex-col gap-8 p-2 w-full sm:w-input-group min-w-64">
        <app-input-custom
          type="text"
          formControlName="firstName"
          label="Nombre"
          placeholder="Nombre (2-30 caracteres)"
          autocomplete="given-name"
          [minlength]="2"
          [maxlength]="30"
        />
        <app-input-custom
          type="text"
          formControlName="lastName"
          label="Apellido"
          placeholder="Apellido (2-30 caracteres)"
          autocomplete="family-name"
          [minlength]="2"
          [maxlength]="30"
        />
        <app-input-custom
          type="text"
          formControlName="dni"
          label="DNI"
          placeholder="12345678"
          autocomplete="off"
          [minlength]="7"
          [maxlength]="9"
        />
        <div class="w-full">
          <app-select-custom
            formControlName="sex"
            label="Sexo"
            placeholder="Seleccionar..."
            [options]="sexOptions"
            [labelMap]="sexLabels"
          ></app-select-custom>
        </div>
      </div>

      <!-- Input Group (User base 2) -->
      <div class="flex flex-col gap-8 p-2 w-full sm:w-input-group min-w-64">
        <app-input-custom
          type="email"
          formControlName="email"
          [maxlength]="50"
          label="Correo electrónico"
          placeholder="Ejemplo@gmail.com"
          autocomplete="email"
        />
        <app-input-custom
          type="password"
          formControlName="password"
          [minlength]="8"
          [maxlength]="50"
          label="Contraseña"
          placeholder="Contraseña (8-50 caracteres)"
        />
        <app-input-custom
          type="date"
          formControlName="birthDate"
          label="Fecha de nacimiento"
          placeholder="Fecha de nacimiento"
          autocomplete="bday"
          [min]="minBirthDate"
          [max]="maxBirthDate"
        />
        <app-input-custom
          type="text"
          formControlName="phone"
          label="Número de Teléfono (opcional)"
          placeholder="Número (8-15 dígitos)"
          autocomplete="tel"
          [minlength]="8"
          [maxlength]="15"
        />
      </div>

      <!-- Input Group (Rol properties) -->
      <div class="flex flex-col gap-8 p-2 w-full sm:w-input-group min-w-64">
        <!-- Patient -->
        @if (userMode() === 'patient') {
        <div class="w-full">
          <app-select-custom
            formControlName="healthInsurance"
            label="Obra Social"
            [options]="healthInsuranceOptions"
            [labelMap]="healthInsuranceLabels"
          ></app-select-custom>
        </div>
        <div class="w-full">
          <app-select-custom
            formControlName="bloodType"
            label="Grupo Sanguíneo"
            [options]="bloodTypeOptions"
            [labelMap]="bloodTypeLabels"
          ></app-select-custom>
        </div>
        <app-input-custom
          type="number"
          formControlName="height"
          label="Altura en centímetros (opcional)"
          placeholder="100-250 cm."
          autocomplete="off"
          [min]="100"
          [max]="250"
        />

        <app-input-custom
          type="number"
          formControlName="weight"
          label="Peso en kilogramos (opcional)"
          placeholder="100-250 kg."
          autocomplete="off"
          [min]="30"
          [max]="250"
        />

        <!-- Specialist -->
        } @else {
        <div class="w-full">
          <label class="text-va-primary font-medium">Especialidades</label>
          <button
            (click)="openSpecialtyModal()"
            class="cursor-pointer w-full h-select-height pt-0.5 pl-3 text-start
             text-black rounded bg-white border border-va-third hover:bg-amber-50
              active:bg-amber-100 transition-all duration-300 shadow"
          >
            Seleccionar ({{ form.get('specialties')?.value.length }} seleccionadas)
          </button>
        </div>

        <div class="w-full">
          <app-select-custom
            formControlName="availability"
            label="Disponibilidad Horaria"
            placeholder="Seleccionar..."
            [options]="availabilityOptions"
            [labelMap]="availabilityLabels"
          ></app-select-custom>
        </div>
        }
      </div>

      <!-- Specialty Selector Modal -->
      @if (showSpecialtyModal()) {
      <app-specialty-selector
        [lastSelected]="form.get('specialties')?.value"
        (confirm)="onSpecialtiesSelected($event)"
        (cancel)="closeModal()"
        class="absolute top-0 left-0 w-full h-full z-20 bg-white border border-va-third/20 shadow rounded"
      />
      }

      <!-- Register Button -->
      <div class="w-full mt-7 mb-2 flex justify-center">
        <button
          type="submit"
          [disabled]="form.invalid"
          class="cursor-pointer px-12 py-3 text-white text-lg rounded font-medium
           bg-va-primary hover:bg-va-third active:bg-va-third/90
            transition duration-300 shadow-md 
            disabled:bg-va-primary/50 disabled:shadow-none disabled:cursor-auto"
        >
          Registrarme
        </button>
      </div>
    </form>
  </div>
</div>
