<footer class="bg-va-primary mt-2">
  <div class="mx-auto w-home-page py-4">
    <div class="sm:flex sm:items-center sm:justify-between">
      <span class="text-sm text-va-secondary/90 sm:text-center"
        >© 2025 Vital Avellaneda™. Hecho por Miguel Ángel Gil.
      </span>
      <ul class="text-lightblue-secondary/90 text-sm font-medium flex gap-6">
        <li>
          <a href="#" class="hover:underline">Política de Privacidad</a>
        </li>
        <li>
          <a href="#" class="hover:underline">Términos y Condiciones</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
