<div class="flex w-home-page h-presentation-wrapper mt-8
 bg-lightblue-primary border border-va-third/20 shadow-sm">
  <!-- Image -->
  <div class="w-1/3 justify-center items-center">
    <img [src]="srcImage" [alt]="altImage"/>
  </div>

  <!-- Content -->
  <div class="flex flex-col px-24 pt-18 w-2/3">
    <p class="text-sm text-lightblue-secondary">{{ sectionText }}</p>
    <h2 class="text-5xl text-va-primary font-semibold">
      {{ titleFirstLine }}<br />{{ titleSecondLine }}
    </h2>
    <p class="mt-5 text-lg text-pretty">{{ description }}</p>

    <ul class="mt-5 list-disc list-inside pl-4">
      @for (itemText of listItems; track itemText) {
      <li class="marker:text-va-third">{{ itemText }}</li>
      }
    </ul>
    <a [href]="anchorHref" class="mt-7 py-3 px-5 w-fit 
    text-white font-semibold bg-va-primary hover:bg-va-third transition-all duration-300 shadow-md">{{
      anchorText
    }}</a>
  </div>
</div>
