<header class="fixed top-0 z-30 p-0 m-0 h-16 w-full shadow-sm">
  <nav
    class="flex items-center justify-start px-10 py-8 size-full bg-va-primary text-white"
  >
    <!-- Logo and Title -->
    <a
      routerLink="/home"
      class="flex items-center justify-center h-full w-72 ml-28"
    >
      <img class="object-contain" src="/logos/logo-flat.webp" alt="Logo" />
    </a>
    <hr class="ml-16 h-10 w-0.5 bg-white">
    <app-svg-icon class="ml-3" icon="auth" size="34px"></app-svg-icon>
    <p class="ml-2 font-semibold text-base">Centro de Autenticación</p>
  </nav>
</header>
