@if (!authFacade.user() || authFacade.isCheckingAuth()) {
  <app-splash></app-splash>
  } @else {
    <div class="flex justify-center items-center size-full">
      <div
      class="flex flex-wrap flex-col justify-start
        items-start min-h-dashboard-height size-full
        outline outline-lightblue-secondary/70  
        bg-va-secondary/10 shadow lg:mx-22 mx-4
        pb-4 md:px-16 px-6 rounded-xl"
    >
      <!-- Back Button -->
      <button
        routerLink="/dashboard/patient"
        class="mt-2 lg:-ml-12 sm:-ml-8 flex flex-wrap
          sm:justify-center justify-start items-center
          gap-1 rounded-full px-6 py-1.5 cursor-pointer
          hover:text-va-third sm:w-auto w-full
          hover:bg-va-secondary/50 active:bg-va-secondary/90
          transition duration-300 not-sm:outline
          outline-va-fourth not-sm:bg-va-secondary/50"
      >
        <app-svg-icon icon="backArrow" size="36px"></app-svg-icon>
        <span class="text-lg">Perfil</span>
      </button>

      <!-- Title and Description -->
      <app-title-description
        class="text-black mt-4 sm:text-start text-center w-full"
        title="Lista de Pacientes"
        description="En esta sección se muestra la lista completa de pacientes ya atendidos o por atender."
      ></app-title-description>
  
      <!-- List -->
      <div class="w-full">
        <app-patients-table></app-patients-table>
      </div>
    </div>
  </div>
}