<div class="flex flex-col px-2 mt-4">
  <div class="flex flex-wrap justify-start items-start mb-2 ml-4 gap-1.5">
    <app-svg-icon class="text-va-primary" size="34px" icon="assignmentCompleted"></app-svg-icon>
    <h3 class="font-semibold text-va-primary text-3xl">Turnos finalizados</h3>
  </div>
  <div class="flex flex-wrap justify-center items-center 
    bg-lightblue-primary/20 rounded-3xl w-290
    p-5 gap-6 border border-va-fourth/20 shadow">
    <div class="flex flex-col justify-center items-center w-90
    bg-lightblue-primary border-1 border-va-fourth shadow rounded-4xl overflow-hidden">
      <div class="flex flex-col justify-center items-start px-6 py-3.5 gap-2">
        <div class="flex font-medium flex-wrap justify-start items-end gap-1.5 text-va-third px-4">
          <app-svg-icon size="26px" icon="appointment"></app-svg-icon>
          <span>27 de Septiembre de 2025</span>
        </div>
        <div class="flex flex-wrap font-medium justify-start items-end gap-1.5 text-va-third px-4">
          <app-svg-icon size="26px" icon="pediatrics"></app-svg-icon>
          <span>Pediatría</span>
        </div>
      </div>
        <button 
        class="cursor-pointer flex flex-wrap rounded-full justify-center items-center 
        px-18 py-2 mb-3 text-lg font-medium transition duration-300
        bg-green-third text-white hover:bg-green-third/90 active:bg-green-third/80">
        Ver Diagnóstico
      </button>
    </div>
    <div class="flex flex-col justify-center items-center w-90
    bg-lightblue-primary border-1 border-va-fourth shadow rounded-4xl overflow-hidden">
      <div class="flex flex-col justify-center items-start px-6 py-3.5 gap-2">
        <div class="flex font-medium flex-wrap justify-start items-end gap-1.5 text-va-third px-4">
          <app-svg-icon size="26px" icon="appointment"></app-svg-icon>
          <span>27 de Septiembre de 2025</span>
        </div>
        <div class="flex flex-wrap font-medium justify-start items-end gap-1.5 text-va-third px-4">
          <app-svg-icon size="26px" icon="pediatrics"></app-svg-icon>
          <span>Pediatría</span>
        </div>
      </div>
        <button 
        class="cursor-pointer flex flex-wrap rounded-full justify-center items-center 
        px-18 py-2 mb-3 text-lg font-medium transition duration-300
        bg-green-third text-white hover:bg-green-third/90 active:bg-green-third/80">
        Ver Informe
      </button>
    </div>
  </div>
</div>