<div class="flex flex-col">
  <div class="flex flex-wrap justify-start items-start mb-2 ml-4 gap-1.5">
    <app-svg-icon class="text-va-primary" size="32px" icon="assignment"></app-svg-icon>
    <h3 class="font-semibold text-va-primary text-2xl">Turnos pendientes</h3>
  </div>
  <div class="flex flex-wrap justify-center items-center 
    bg-lightblue-primary/20 rounded-3xl min-w-290
    p-4 gap-5 border border-va-fourth/20 shadow">

    <!-- Example -->
    <div class="flex flex-col justify-center items-center w-90
    bg-lightblue-primary border-1 border-va-fourth shadow rounded-4xl overflow-hidden">

      <div class="text text-wrap flex justify-center items-end gap-4
       bg-lightblue-secondary/80 w-full px-7 py-1.5 border-b border-va-fourth">
        <span class="text-va-third font-bold text-2xl">Miércoles</span>
        <span class="text-va-third text-xl font-medium">17:00 hs.</span>
      </div>

      <div class="flex flex-col justify-center items-start px-6 py-2.5 gap-1.5">
        <div class="flex font-medium flex-wrap justify-start items-end gap-1.5 text-va-fifth px-4">
          <app-svg-icon size="26px" icon="appointment"></app-svg-icon>
          <span>27 de Septiembre de 2025</span>
        </div>
        <div class="flex font-medium flex-wrap justify-start items-end gap-1.5 text-va-fifth px-4">
          <app-svg-icon size="26px" icon="schedule"></app-svg-icon>
          <span>17:00 hs.</span>
        </div>
        <div class="flex flex-wrap font-medium justify-start items-end gap-1.5 text-va-fifth px-4">
          <app-svg-icon size="26px" icon="pediatrics"></app-svg-icon>
          <span>Pediatría</span>
        </div>
        <div class="flex flex-wrap font-medium justify-start items-end gap-1.5 text-va-fifth px-4">
          <app-svg-icon size="26px" icon="specialist"></app-svg-icon>
          <span>Susana González</span>
        </div>
      </div>
        <button 
        class="cursor-pointer flex flex-wrap rounded-2xl justify-center items-center 
        px-20 py-1 mb-3 text-lg font-medium transition duration-300
        bg-va-third text-lightblue-primary hover:bg-va-third/90 active:bg-va-third/80">
        Gestionar
      </button>
    </div>

    <!-- <div class="flex flex-col justify-center items-center w-90
    bg-lightblue-primary border-1 border-va-fourth shadow rounded-4xl overflow-hidden">

      <div class="text text-wrap flex justify-center items-end gap-4
       bg-lightblue-secondary/80 w-full px-7 py-1.5 border-b border-va-fourth">
        <span class="text-va-third font-bold text-2xl">Miércoles</span>
        <span class="text-va-third text-xl font-medium">17:00 hs.</span>
      </div>

      <div class="flex flex-col justify-center items-start px-6 py-2.5 gap-1.5">
        <div class="flex font-medium flex-wrap justify-start items-end gap-1.5 text-va-fifth px-4">
          <app-svg-icon size="26px" icon="appointment"></app-svg-icon>
          <span>27 de Septiembre de 2025</span>
        </div>
        <div class="flex font-medium flex-wrap justify-start items-end gap-1.5 text-va-fifth px-4">
          <app-svg-icon size="26px" icon="schedule"></app-svg-icon>
          <span>17:00 hs.</span>
        </div>
        <div class="flex flex-wrap font-medium justify-start items-end gap-1.5 text-va-fifth px-4">
          <app-svg-icon size="26px" icon="pediatrics"></app-svg-icon>
          <span>Pediatría</span>
        </div>
        <div class="flex flex-wrap font-medium justify-start items-end gap-1.5 text-va-fifth px-4">
          <app-svg-icon size="26px" icon="specialist"></app-svg-icon>
          <span>Susana González</span>
        </div>
      </div>
        <button 
        class="cursor-pointer flex flex-wrap rounded-2xl justify-center items-center 
        px-20 py-1 mb-3 text-lg font-medium transition duration-300
        bg-va-third text-lightblue-primary hover:bg-va-third/90 active:bg-va-third/80">
        Gestionar
      </button>
    </div> -->
    
    <!-- <div class="flex flex-col justify-center items-center w-90
    bg-lightblue-primary border-1 border-va-fourth shadow rounded-4xl overflow-hidden">

      <div class="text text-wrap flex justify-center items-end gap-4
       bg-lightblue-secondary/80 w-full px-7 py-1.5 border-b border-va-fourth">
        <span class="text-va-third font-bold text-2xl">Miércoles</span>
        <span class="text-va-third text-xl font-medium">17:00 hs.</span>
      </div>

      <div class="flex flex-col justify-center items-start px-6 py-2.5 gap-1.5">
        <div class="flex font-medium flex-wrap justify-start items-end gap-1.5 text-va-fifth px-4">
          <app-svg-icon size="26px" icon="appointment"></app-svg-icon>
          <span>27 de Septiembre de 2025</span>
        </div>
        <div class="flex font-medium flex-wrap justify-start items-end gap-1.5 text-va-fifth px-4">
          <app-svg-icon size="26px" icon="schedule"></app-svg-icon>
          <span>17:00 hs.</span>
        </div>
        <div class="flex flex-wrap font-medium justify-start items-end gap-1.5 text-va-fifth px-4">
          <app-svg-icon size="26px" icon="pediatrics"></app-svg-icon>
          <span>Pediatría</span>
        </div>
        <div class="flex flex-wrap font-medium justify-start items-end gap-1.5 text-va-fifth px-4">
          <app-svg-icon size="26px" icon="specialist"></app-svg-icon>
          <span>Susana González</span>
        </div>
      </div>
        <button 
        class="cursor-pointer flex flex-wrap rounded-2xl justify-center items-center 
        px-20 py-1 mb-3 text-lg font-medium transition duration-300
        bg-va-third text-lightblue-primary hover:bg-va-third/90 active:bg-va-third/80">
        Gestionar
      </button>
    </div> -->
  </div>
</div>