@if (!user() || isCheckingAuth()) {
  <app-splash></app-splash>
} @else {
  <div class="flex justify-center items-center size-full">
    <div class="flex flex-wrap justify-start items-center min-h-dashboard-height
     size-full outline outline-lightblue-secondary/70 bg-va-secondary/10 shadow
     mx-32 px-6 rounded-xl gap-8">
  
      <!-- User Information Card -->
      <app-user-information-card></app-user-information-card>
     
      <!-- Appointments and Medical options -->
      <div class="flex flex-col justify-start items-center min-h-dashboard-height h-full py-9">
        <div class="flex justify-center items-center w-full bg-va-secondary gap-8">
          <button>Solicitar nuevo Turno</button>
          <button>Ver mi historia hlínica</button>
          <button>Ver lista completa de turnos</button>
        </div>

        <!-- Pending Appointments Preview -->
        <app-appointments-pending></app-appointments-pending>
        
        <!-- Finished Appointments Preview -->
        <app-appointments-finished></app-appointments-finished>
     </div>
    </div>
  </div>
}
