<div class="relative pl-4 flex flex-col flex-wrap p-4 overflow-hidden h-full">
  <!-- Close icon -->
  <button 
  type="button"
  (click)="exit()"
  class="cursor-pointer absolute top-3 right-3 rounded-full p-1
  text-black hover:bg-black/10 active:bg-black/20 transition">
    <app-svg-icon icon="close" size="35px"></app-svg-icon>
  </button>

  <!-- Title and description -->
  <h2 class="text-xl font-semibold">Selector de Especialidades</h2>
  <p>Podés seleccionar una o más especialidades.</p>

  <!-- Specialties cards -->
  <div class="flex flex-wrap items-center justify-center mt-3
   gap-4 py-5 rounded border border-va-third/20 shadow max-h-72 overflow-y-auto">

    @defer (when specialties().length > 0) {
      @for (specialty of specialties(); track $index) {
        <div (click)="toggleSelected(specialty)"
        [class.selected]="isSelected(specialty)"
        class="select-none cursor-pointer flex flex-col
         items-start justify-start outline outline-lightblue-primary
         px-3 py-2 w-specialty-width h-24 max-h-36 rounded
         overflow-hidden bg-lightblue-primary text-va-primary text-lg font-medium
        active:bg-lightblue-third/10 transition-colors">
          <div class="flex justify-center items-center gap-1.5">
            <app-svg-icon [icon]="$any(specialty.id)"></app-svg-icon>
            <h3 class="mt-1">{{specialty.name}}</h3>
          </div>
          <hr class="text-va-primary/40 w-full h-1">
          <p class="text-sm text-va-primary/70 font-normal text-pretty">{{specialty.description}}</p>
        </div>
      }
        <!-- Loading not working at all -->
        <!-- } @loading (minimum 1.5s) { 
          @for (i of [1, 2, 3, 4, 5, 6, 7, 8]; track $index) {
            <div class="w-specialty-width h-20 bg-lightblue-primary animate-pulse rounded"></div>
          } -->
    } @placeholder (minimum 1s) {
      @for (i of [1, 2, 3, 4, 5, 6, 7, 8]; track $index) {
        <div class="w-specialty-width h-24 bg-lightblue-secondary animate-pulse rounded"></div>
      }
    }
  </div>

  <!-- Information -->
  <div class="flex flex-wrap justify-start mt-2 items-center">
    <p class="pl-6 font-medium">
      {{ selectedSpecialties().length }}
      especialidades seleccionadas
    </p>
  </div>

  <!-- Buttons -->
  <div class="absolute bottom-5 gap-3 right-9 flex flex-wrap justify-center items-center">
    <button
    type="button"
    (click)="exit()"
    class="cursor-pointer font-medium rounded
      py-3 px-6 hover:bg-gray-100 active:bg-gray-200 transition duration-300">
      Cancelar
    </button>
    <button 
    type="button"
    (click)="save()"
    class="cursor-pointer font-medium
     text-white py-3 px-6 rounded
     bg-va-primary hover:bg-va-third active:bg-va-third/90 duration-300 transition">
      Guardar cambios
    </button>
  </div>
</div>