<div class="relative pl-4 flex flex-col flex-wrap p-4 overflow-hidden h-full">
  <!-- Close icon -->
  <div 
  (click)="exit()"
  class="cursor-pointer absolute top-5 right-7 
  text-black hover:text-black/70 active:text-black/60 transition">
    <app-svg-icon icon="close" size="40px"></app-svg-icon>
  </div>

  <!-- Title and description -->
  <h2 class="text-xl font-semibold">Selector de Especialidades</h2>
  <p>Podés seleccionar una o más especialidades.</p>

  <!-- Specialties cards -->
  <div class="flex flex-wrap items-center justify-center mt-3
   gap-4 py-5 rounded border border-va-third/20 shadow max-h-72 overflow-y-auto">

    @defer (when specialties().length > 0) {
      @for (specialty of specialties(); track $index) {
        <div (click)="toggleSelected(specialty)"
        [class.selected]="isSelected(specialty)"
        class="select-none cursor-pointer flex flex-col flex-wrap
         items-center justify-center outline outline-lightblue-primary
         p-3 w-specialty-width rounded
         overflow-hidden bg-lightblue-primary text-va-primary text-lg font-medium
        active:bg-lightblue-third/10 transition-colors">
          <h3>{{specialty.name}}</h3>
        </div>
      }
        <!-- Loading not working at all -->
        <!-- } @loading (minimum 1.5s) { 
          @for (i of [1, 2, 3, 4, 5, 6, 7, 8]; track $index) {
            <div class="w-specialty-width h-20 bg-lightblue-primary animate-pulse rounded"></div>
          } -->
      } @placeholder (minimum 1.8s) {
        @for (i of [1, 2, 3, 4, 5, 6, 7, 8]; track $index) {
          <div class="w-specialty-width h-16 bg-lightblue-secondary animate-pulse rounded"></div>
        }
      }
  </div>

  <!-- Information -->
  <div class="flex flex-wrap justify-start mt-2 items-center">
    <p class="pl-6 font-medium">
      {{ selectedSpecialties().length }}
      especialidades seleccionadas
    </p>
  </div>

  <!-- Buttons -->
  <div class="absolute bottom-5 right-9 flex flex-wrap justify-center items-center">
    <button 
    (click)="exit()"
    class="cursor-pointer font-medium rounded
      py-3 px-6 hover:bg-gray-100 active:bg-gray-200 transition duration-300">
      Cancelar
    </button>
    <button 
    (click)="save()"
    class="cursor-pointer font-medium
     text-white py-3 px-6 rounded
     bg-va-primary hover:bg-va-third active:bg-va-third/90 duration-300 transition">
      Guardar cambios
    </button>
  </div>
</div>