<div
  class="flex justify-start items-start h-36 bg-lightblue-primary rounded-2xl
  w-home-page text-va-primary border border-va-fourth shadow-sm px-2"
>
  <app-information-card [title]="'Contacto vía mail'">
    <app-svg-icon icon="email" size="48px" color="currentColor"></app-svg-icon>
    <p description class="text-sm text-black mt-0.5">
      Podés enviarnos tu consulta o cualquier inquietud acá:
      <a
        href="mailto:vitalavellaneda@gmail.com"
        class="font-bold underline underline-offset-2"
        >{{ email }}
      </a>
    </p>
  </app-information-card>
  <app-information-card
    [title]="'Contacto vía WhatsApp'"
    [border]="'border-x border-va-third/20 pl-4'"
  >
    <app-svg-icon icon="whatsapp" size="42px" viewBox="simpleIcons"></app-svg-icon>
    <p description class="text-sm text-black mt-0.5">
      Solicitá tu turno o hacé tu consulta por WhatsApp:
      <a href="tel:+541141231234" class="font-bold underline underline-offset-2"
        >{{ phone }}
      </a>
    </p>
  </app-information-card>
  <app-information-card [title]="'Ubicación'">
    <app-svg-icon
      icon="location"
      size="48px"
      color="currentColor"
    ></app-svg-icon>
    <p description class="text-sm text-black mt-0.5">
      {{ location }}, Argentina.
      <a
        href="https://www.google.com/maps/search/?api=1&query=V.A+Avellaneda+123%2C+Provincia+de+Buenos+Aires"
        target="_blank"
        rel="noopener noreferrer" 
        class="font-bold underline underline-offset-2">
        Ver en el mapa
      </a>
    </p>
  </app-information-card>
</div>