<nav
  class="flex items-center justify-between px-10 size-full bg-va-primary text-white"
>
  <!-- Logo -->
  <a routerLink="/home" class="flex items-center justify-center h-full w-80 ml-10">
    <img
      class="object-contain"
      src="/logos/logo.png"
      alt="Logo"
    />
  </a>

  <!-- Navegation -->
  <ul class="flex justify-center items-center mr-24 h-full">
    @for (item of navItems; track item.title) {
    <li>
      <a
        class="flex items-center justify-center
        p-4
        text-lg font-semibold 
        hover:shadow-black
        hover:text-va-secondary
        transition-all duration-300"
        [routerLink]="item.href"
        tabindex="0"
        [attr.aria-label]="item.ariaLabel"
      >
        {{ item.title }}
      </a>
    </li>
    }
  </ul>
</nav>
