<nav
  class="flex items-center justify-between px-10
   size-full bg-va-primary text-white"
>
  <!-- Logo -->
  <a
    routerLink="/"
    class="flex items-center justify-center h-full w-72 ml-28"
  >
    <img class="object-contain" src="/logos/logo-big.webp" alt="Logo" />
  </a>

  <!-- Navigation -->
  <ul class="flex justify-center items-center mr-24 h-full">
    @for (item of navItems; track item.title) {
    <li>
      <a
        class="flex items-center justify-center p-4 text-lg font-medium rounded-lg
      hover:bg-va-third/60 hover:shadow active:bg-va-third/30 transition-colors duration-300"
        [routerLink]="item.href"
        tabindex="0"
        [attr.aria-label]="item.ariaLabel"
      >
        {{ item.title }}
      </a>
    </li>
    }
    <li class="ml-20 flex justify-center items-center">
      <a
        routerLink="/auth/login"
        aria-label="Acceso al Portal"
        class="flex justify-center items-center gap-2 py-4 px-6 min-w-48
        text-lg font-semibold bg-white text-va-primary rounded-full
      hover:bg-lightblue-primary active:bg-lightblue-primary/90 transition duration-300 shadow"
      >
        <div class="flex justify-center items-center">
          <app-svg-icon icon="user" size="32px"></app-svg-icon>
        </div>
        Ingresar al Portal
      </a>


      <a href="">
      </a>
    </li>
  </ul>
</nav>
