<div class="relative">
  <button class="user-submenu-button cursor-pointer flex flex-wrap justify-center items-center
     rounded-full gap-2 md:px-4 md:py-2 md:min-w-48 p-2
     md:bg-va-third/60 text-va-white font-medium
      md:hover:bg-va-third md:active:bg-va-third/80 focus:bg-va-third bg-va-primary
        transition duration-300"
        (click)="toggleDropdown($event)">
        @defer (when profilePictureUrl()) {
          <div class="md:hidden flex rounded-full bg-lightblue-secondary size-12">
            <img [src]="profilePictureUrl()" alt="Profile Picture" class="object-cover rounded-full
             outline outline-va-fifth shadow">
          </div>
        } @loading (minimum 750ms) {
          <div class="size-12 rounded-full bg-lightblue-secondary text-lightblue-third/70
           md:hidden flex justify-center items-center animate-pulse">
            <app-svg-icon icon="image" size="30px" class="md:hidden flex text-lightblue-third/70"></app-svg-icon>
          </div>
        }
        
    <app-svg-icon icon="user" size="34px" class="hidden md:block"></app-svg-icon>
    <span class="hidden md:block">{{ name }}</span>
  </button>

  @if (isDropdownVisible()) {
    <div class="absolute md:top-13 top-15 right-0 bg-lightblue-primary rounded-2xl sm:min-w-72 min-w-56 min-h-72
      p-3 flex flex-col shadow user-submenu-dropdown border border-va-fourth"
      [class.open]="isDropdownOpen()">
      <div class="flex flex-wrap gap-4 justify-start items-center w-full">
        <div class="size-12 text-va-fifth rounded-full overflow-hidden outline outline-va-fifth">
          @defer (when profilePictureUrl()) {
            <img [src]="profilePictureUrl()" alt="Profile Picture" class="w-full h-full object-cover">
          } @loading (minimum 750ms) {
            <div class="size-12 rounded-full bg-lightblue-secondary text-lightblue-third/70
             flex justify-center items-center animate-pulse">
              <app-svg-icon icon="image" size="30px" class="text-lightblue-third/70"></app-svg-icon>
            </div>
          }
        </div>
        <div class="flex flex-col">
          <span class="font-semibold text-va-primary">{{ name }}</span>
          <span class="text-va-fifth text-sm">{{ role }}</span>
        </div>
      </div>
      <hr class="mt-2 h-0.5 w-full text-va-fourth/60">
      <div class="flex flex-col gap-1 justify-start items-center w-full mt-2">
        @for (item of menuItems; track item.text) {
          <button 
            (click)="item.action?.()"
            class="flex flex-wrap gap-2 justify-start items-center w-full
            hover:bg-va-secondary/50 text-va-fifth active:bg-va-fourth/60 rounded-md h-full px-1.5
             py-2 transition duration-300 cursor-pointer">
            <app-svg-icon [icon]="item.icon" size="28px"></app-svg-icon>
            {{ item.text }}
          </button>
        }
      </div>
      <hr class="mt-2 h-0.5 w-full text-va-fourth/60">
      <button 
      (click)="handleLogoutClick()"
      class="flex flex-wrap gap-2 justify-start items-center w-full
        mt-2 hover:bg-red-third/10 text-red-third active:bg-red-third/20
        rounded-md h-full px-1.5 py-2 transition duration-300 cursor-pointer">
        <app-svg-icon icon="logout" size="28px"></app-svg-icon>
        Cerrar Sesión
      </button>
    </div>
  }
</div>