<button type="button"
  [class.selected]="isSelected"
  class="select-none cursor-pointer flex flex-col items-center
  justify-start p-3 sm:min-w-56 sm:min-h-56 sm:h-64 rounded-lg overflow-hidden
  bg-lightblue-secondary/30 text-va-primary hover:text-va-fifth
  transition outline outline-lightblue-primary hover:outline-lightblue-third">
  
  <!-- Profile Icon -->
  <div class="text-va-fifth bg-lightblue-primary flex justify-center items-center
    outline-2 outline-lightblue-secondary/40 size-26 rounded-full shadow overflow-hidden img-fade-container">
    <img [src]="profilePictureUrl()" alt="Foto de perfil" class="w-full h-full object-cover img-fade-in">
  </div>

  <!-- Specialist Info -->
  <div class="flex flex-col w-full justify-center items-center text-center px-1">
    <h3 class="font-semibold sm:text-lg text-base">{{ specialist.firstName }} <br> {{ specialist.lastName }}</h3>
    <hr class="w-full h-1 text-va-primary/40 mb-1.5">
    <div class="flex flex-col justify-start items-start gap-0.5 xs:w-52 w-31 text-start">
      <div class="flex xs:flex-row flex-col gap-0.5 size-full xs:justify-start justify-center items-center xs:text-start text-center">
        <app-svg-icon [icon]="specialist.sex === 'male' ? 'male' : 'female'" size="19px"></app-svg-icon>
        <p class="text-sm text-va-primary">{{ sexLabels.get(specialist.sex) }}</p>
      </div>
      <div class="flex xs:flex-row xs:justify-start items-center xs:text-start text-center flex-col xs:mt-0 mt-3 gap-0.5 size-full">
        <app-svg-icon icon="schedule" size="19px"></app-svg-icon>
        <p class="text-sm text-va-primary text-pretty">{{ availabilityLabels.get(specialist.availabilityName) }}</p>
      </div>
    </div>
  </div>
</button>