<div class="w-full py-14">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">

    <!-- Header -->
    <header class="text-center mb-12">
      <h1 class="text-4xl font-bold tracking-tight text-va-primary">Centro de Ayuda</h1>
      <p class="mt-2 text-xl text-gray-800 mx-auto">
        Todo lo que necesitás saber para gestionar tu salud con nosotros.
      </p>
    </header>

    <!-- FAQ Section -->
    <section class="max-w-4xl mx-auto">
      <h2 class="text-3xl font-bold text-va-primary mb-6 text-center">Preguntas Frecuentes</h2>
      <div class="space-y-4">
        
        @for (item of faqItems; track $index) {
          <div class="faq-item bg-white rounded-xl shadow-sm border border-gray-200 overflow-hidden">
            <input type="radio" name="faq" [id]="'faq-' + $index" class="hidden" [checked]="openFaqItem === $index">
            <label 
              [for]="'faq-' + $index" 
              class="cursor-pointer flex items-center justify-between list-none px-6 py-4 hover:bg-gray-50 active:bg-gray-100 transition duration-300"
              (click)="toggleFaqItem($index)">
              <h3 class="text-lg font-medium text-gray-900">{{ item.question }}</h3>
              <div class="icon text-va-primary transition-transform duration-300">
                <app-svg-icon icon="arrowDropDown" size="32px"></app-svg-icon>
              </div>
            </label>
            <div class="content text-gray-700 prose text-pretty">
              <div class="px-6 pb-4">
                <p>{{ item.answer }}</p>
              </div>
            </div>
          </div>
        }
      </div>
    </section >

    <!-- Video Tutorials Section -->
    <!-- <div class="max-w-4xl mx-auto mt-16">
      <h2 class="text-3xl font-bold text-va-primary mb-6 text-center">Videotutoriales</h2>
      <div class="text-center text-gray-600">
        <div class="flex justify-center items-center bg-gray-200 h-64 rounded-xl">
          <app-svg-icon icon="play" size="64px" class="text-gray-400"></app-svg-icon>
        </div>
      </div>
    </div> -->
    
    <section class="mx-auto mt-10 flex flex-col
    justify-center items-center mb-6">
      <h2 class="text-3xl font-bold text-va-primary">Contacto</h2>
      <div class="mt-6">
        <app-information-wrapper></app-information-wrapper>
      </div>
    </section>
  </div>
</div>