<div class="w-full py-14">
  <div class="mx-auto max-w-5xl px-4 sm:px-6 lg:px-8">

    <!-- Header -->
    <header class="text-center mb-12">
      <h1 class="text-4xl font-bold tracking-tight text-va-primary">Centro de Ayuda</h1>
      <p class="mt-2 text-xl text-gray-800 mx-auto">
        Todo lo que necesitás saber para gestionar tu salud con nosotros.
      </p>
    </header>

    <!-- FAQ Section -->
    <div class="max-w-4xl mx-auto">
      <h2 class="text-3xl font-bold text-va-primary mb-6">Preguntas Frecuentes (FAQ)</h2>
      <div class="space-y-4">
        
        @for (item of faqItems; track $index) {
          <details class="group bg-white rounded-xl shadow-sm 
            border border-gray-200 overflow-hidden">
            <summary class="cursor-pointer flex items-center justify-between
             list-none px-6 py-4 hover:bg-gray-50
             active:bg-gray-100 transition duration-300">
              <h3 class="text-lg font-medium text-gray-900">{{ item.question }}</h3>
              <div class="text-va-primary transition-transform duration-300 group-open:rotate-180">
                <app-svg-icon icon="arrowDropDown" size="32px"></app-svg-icon>
              </div>
            </summary>
            <div class="px-6 pb-4 text-gray-700 prose text-pretty">
              <p>{{ item.answer }}</p>
            </div>
          </details>
        }
      </div>
    </div>

    <!-- Video Tutorials Section -->
    <div class="max-w-4xl mx-auto mt-16">
      <h2 class="text-3xl font-bold text-va-primary mb-6">Videotutoriales</h2>
      <div class="text-center text-gray-600">
        <!-- <p class="mb-4">
          ¡Próximamente! Estamos preparando videos cortos y claros para mostrarte paso a paso cómo usar todas las funciones de la aplicación.
        </p> -->
        <div class="flex justify-center items-center bg-gray-200 h-64 rounded-xl">
          <app-svg-icon icon="play" size="64px" class="text-gray-400"></app-svg-icon>
        </div>
      </div>
    </div>
    
    <div class="mx-auto mt-10 flex flex-col
      justify-center items-center mb-6">
      <h2 class="text-3xl font-bold text-va-primary">Contactanos</h2>
      <div class="mt-3">
        <app-information-wrapper></app-information-wrapper>
      </div>
    </div>
  </div>
</div>