<!-- Hero Section -->
<app-hero-section></app-hero-section>

<!-- Information Wrapper -->
<div class="flex flex-col items-center">
  <div class="mt-10 md:animate-on-scroll">
    <app-information-wrapper></app-information-wrapper>
  </div>

  <!-- Presentation -->
  <app-presentation-wrapper class="md:animate-on-scroll"></app-presentation-wrapper>

  <!-- News -->
  <app-news-preview-list 
    [title]="'Nuestras últimas novedades'"
    [showTags]="true">
  </app-news-preview-list>

  <!-- Recommendations -->
  <div class="w-full">
    <app-recommendations></app-recommendations>
  </div>
</div>
