<div class="flex flex-wrap items-center justify-center mt-3
gap-4 py-5 rounded shadow sm:max-h-86 sm:h-78 overflow-x-auto">

  @defer (when filteredSpecialists().length > 0) {
    @for (specialist of filteredSpecialists(); track specialist.id) {
      <button type="button" (click)="selectSpecialist(specialist)"
        [class.selected]="isSelected(specialist)"
        class="select-none cursor-pointer flex flex-col items-center
        justify-start p-3 sm:min-w-56 sm:min-h-56 sm:h-64 rounded-lg overflow-hidden
        bg-lightblue-secondary/30 text-va-primary hover:text-va-fifth
        transition outline outline-lightblue-primary hover:outline-lightblue-third">
        
        <!-- Profile Icon -->
        @defer(when getProfilePictureUrl(specialist)) {
          <div class="w-24 h-24 overflow-hidden rounded-full outline outline-va-fifth bg-lightblue-secondary/30
          flex items-center justify-center mb-2">
            <img [src]="getProfilePictureUrl(specialist)" alt="Profile Picture" class="w-full h-full object-cover">
          </div>
        } @loading (minimum 750ms){
          <div class="w-24 h-24 mb-2 rounded-full flex justify-center items-center outline outline-va-fifth animate-pulse">
            <app-svg-icon icon="image" size="44px" class="text-lightblue-third/70"></app-svg-icon>
          </div>
        }

        <!-- Specialist Info -->
        <div class="flex flex-col w-full justify-center items-center text-center px-1">
          <h3 class="font-semibold sm:text-lg text-base">{{ specialist.firstName }} <br> {{ specialist.lastName }}</h3>
          <hr class="w-full h-1 text-va-primary/40 mb-1.5">
          <div class="flex flex-col justify-start items-start gap-0.5 xs:w-52 w-31 text-start">
            <div class="flex xs:flex-row flex-col gap-0.5 size-full xs:justify-start justify-center items-center xs:text-start text-center">
              <app-svg-icon [icon]="specialist.sex === 'male' ? 'male' : 'female'" size="19px"></app-svg-icon>
              <p class="text-sm text-va-primary">{{ sexLabels.get(specialist.sex) }}</p>
            </div>
            <div class="flex xs:flex-row xs:justify-start items-center xs:text-start text-center flex-col xs:mt-0 mt-3 gap-0.5 size-full">
              <app-svg-icon icon="schedule" size="19px"></app-svg-icon>
              <p class="text-sm text-va-primary text-pretty">{{ availabilityLabels.get(specialist.availabilityName) }}</p>
            </div>
          </div>
        </div>
      </button>
    }
  } @loading (minimum 1s) {
      @for (i of [1, 2, 3, 4]; track $index) {
        <div class="w-48 h-48 bg-lightblue-secondary animate-pulse rounded-lg"></div>
      }
    } @placeholder {
      <p class="text-start text-gray-500">
        No se encontraron especialistas disponibles para esta especialidad. <br>
        Intentá más tarde, o comunicate con nosotros vía teléfono o correo.
      </p>
    }
</div>