<div class="w-full mt-10">
  <div class="mx-auto max-w-home-page">
    <!-- Title -->
    <div class="mb-5 px-4 sm:px-6 lg:px-8">
      <h2 class="text-4xl text-center font-bold tracking-tight text-va-primary">
        {{ title() }}
      </h2>
    </div>

    <!-- News Grid -->
    <div
      class="grid grid-cols-1 gap-x-8 gap-y-12 sm:grid-cols-2 lg:grid-cols-3"
    >
      @for (post of newsPosts(); track post.id) {
      <a
        [routerLink]="['/news', post.id]"
        class="block group bg-white rounded-lg shadow-md hover:shadow-lg
         transition duration-300 overflow-hidden outline
          outline-va-fourth/40 hover:outline-va-fourth"
      >
        <article 
          class="flex flex-col">
          <!-- Image -->
          <div class="aspect-video w-full h-full overflow-hidden">
            <img
              [src]="post.imageUrl"
              [alt]="'Imagen para la noticia: ' + post.title"
              class="w-full object-cover group-hover:scale-105 transition-transform duration-300"
            />
          </div>

          <!-- Content -->
          <div class="flex flex-col justify-between flex-grow px-6 py-4 min-h-72">
            <!-- Publication Date -->
            <p class="text-sm text-gray-500 mb-2">
              {{ post.publicationDate | date: 'd' }}
              de {{ post.publicationDate| date: 'MMMM' | titlecase }}
              de {{ post.publicationDate | date: 'y' }}
            </p>

            <!-- Title -->
            <h3
              class="text-lg text-pretty font-semibold text-va-primary
               group-hover:text-va-fifth transition-colors duration-300"
            >
              {{ post.title }}
            </h3>

            <!-- Summary -->
            <p class="mt-3 text-sm text-gray-700 text-pretty flex-grow">
              {{ post.summary }}
            </p>

            <!-- Tags -->
            @if (showTags()) {
              <div class="mt-4 flex flex-wrap gap-2">
                @for(tag of post.tags; track tag){
                <span
                  class="inline-flex items-center rounded-md
                   bg-lightblue-secondary/70 px-2 py-1 text-xs font-medium text-va-third"
                  >{{ tag }}</span
                >
                }
              </div>
            }
          </div>
        </article>
      </a>
      } @empty {
      <div class="mt-12">
        <p class="text-gray-600">Sin noticias actualmente.</p>
      </div>
      }
    </div>

    <div class="mt-6 text-center">
      <a
        routerLink="/news"
        class="group px-3 text-lg font-semibold text-va-primary hover:text-va-fifth
        transition-colors underline underline-offset-2 flex justify-center items-center gap-0.5"
      >
        Ver más
        <app-svg-icon 
          icon="link" 
          size="18px" 
          class="group-hover:-translate-y-0.5 group-hover:translate-x-0.5 transition">
        </app-svg-icon>
      </a>
    </div>
  </div>
</div>