/* Swiper */
.swiper {
  width: 100%;
}

/* Swiper Navigation */
.swiper-button-prev,
.swiper-button-next {
  --swiper-navigation-sides-offset: 0;
  width: 9%;
  height: 105%;
  top: 0;
  z-index: 3;
  color: white;
  opacity: 0;
  transition: all 0.3s;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 3rem;
  color: white;
}

.swiper:hover .swiper-button-prev,
.swiper:hover .swiper-button-next {
  opacity: 1;
}

.swiper-button-prev:focus,
.swiper-button-next:focus {
  opacity: 1;
}

/* Swiper Pagination */
.swiper-pagination {
  z-index: 2;
  --swiper-pagination-color: white;
  --swiper-pagination-bullet-size: 15px;
  --swiper-pagination-bullet-inactive-color: white;
  --swiper-pagination-bullet-inactive-opacity: 0.3;
}
