<!-- Slider main container -->
<div class="swiper">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">

    <!-- Slides -->
    @for (slide of slides; track slide.title) {
      <div class="swiper-slide relative">

        <!-- Background Image with filter -->
        <div
          class="absolute inset-0 bg-cover bg-center bg-no-repeat z-0"
          [ngStyle]="{
            'background-image':
              'linear-gradient(90deg, rgba(1, 21, 58, 0.8), rgba(0, 36, 104, 0.5)), url(' + slide.image + ')'
          }"
        ></div>

        <!-- Detail content -->
        <div
          class="relative z-10 lg:mx-38 md:mx-24 px-4 flex flex-col select-none
          justify-center text-white h-main-carousel sm:bg-transparent bg-black/30"
        >
          <!-- Title -->
          <h1 class="text-4xl lg:text-5xl font-bold mb-4 md:text-start text-center
           drop-shadow-md tracking-tight">
            {{ slide.title }}
          </h1>
          <!-- Description -->
          <p class="text-xl lg:text-2xl mb-6 lg:max-w-xl max-w-2xl drop-shadow-md
            md:mx-0 mx-auto text-pretty md:text-start text-center">
            {{ slide.description }}
          </p>
          <!-- Link Button -->
          <a
            [routerLink]="slide.buttonLink"
            class="flex justify-center items-center gap-1
            px-10 py-3 w-fit drop-shadow-2xl rounded-full md:mx-0 mx-auto text-center
            bg-va-primary text-white lg:text-main-button text-xl font-medium
            hover:bg-va-third active:bg-va-fifth transition duration-300"
          >
            {{ slide.buttonText }}
            <!-- <app-svg-icon icon="link" size="28px"></app-svg-icon> -->
          </a
          >
        </div>
      </div>
    }
  </div>

  <!-- Swiper Navigation -->
  <div class="swiper-button-prev md:visible invisible"></div>
  <div class="swiper-button-next md:visible invisible"></div>
  <!-- Swiper Pagination -->
  <div class="swiper-pagination"></div>
</div>
