/* Framework CSS */
@import "tailwindcss";

/* Fonts */
@import "@fontsource-variable/rubik";
@import "@fontsource-variable/inter";

/* Swiper Library for Sliders */
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";

/* Custom Tailwind Utilities */
@theme {
  /* Colors */
  --color-va-primary: #0e357a;
  --color-va-secondary: #d7e7ff;
  --color-va-third: #204da0;
  --color-va-fourth: #b6d3ff;
  --color-va-fifth: #305db1;
  --color-lightblue-primary: #f5f9ff;
  --color-lightblue-secondary: #deebff;
  --color-lightblue-third: #6292fa;
  --color-red-primary: #291d21;
  --color-red-secondary: #fa99a4;
  --color-red-third: #c94554;
  --color-green-primary: #D9FDAD;
  --color-maroon-primary: #331933;
  --color-maroon-secondary: #3f263f;
  
  /* Spacing */
  --spacing-main-carousel: 35rem;
  --spacing-home-page: 75rem;
  --spacing-presentation-wrapper: 35rem;
  --spacing-register-page: 80rem;
  --spacing-input-group: 32%;
  --spacing-select-height: 2.64rem;
  --spacing-specialty-width: 15rem;
  --spacing-register-form: 41.5rem;
  --spacing-dashboard-height: 51rem;
  --spacing-step-size: 3.5rem;

  /* Font Sizes */
  --text-main-button: 1.4rem;
}

/* Global Styles */
html,
body {
  font-family: "Rubik Variable", sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica FNeue", "Inter Variable";
}

/* Class for error message in forms */
.error-input {
  border-color: #9c254d;
  outline-color: #9c254d;
  @apply focus:shadow-red-primary;
}

.inter-font {
  font-family: "Inter Variable", sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica FNeue", "Rubik Variable";
}

/* Dialog Animations */
/* @keyframes scale-in {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes scale-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
} */

.pending {
  @apply text-amber-800;
}
.completed {
  color: green;
}
.canceled {

  color: yellow;
}