@if (!user() || isCheckingAuth()) {
  <app-splash></app-splash>
} @else {
  <div class="flex justify-center items-center size-full">
    <div class="flex justify-start items-center min-h-dashboard-height
     size-full outline outline-lightblue-secondary/70 bg-va-secondary/10 shadow
     mx-22 max-mx-32 px-9 rounded-xl gap-12 py-2">
  
      <!-- User Information Card -->
      <div class="flex justify-center items-center
        min-h-dashboard-height h-full">
        <app-user-information-card></app-user-information-card>
      </div>

      <!-- Appointments and Access options -->
      <div class="flex flex-col justify-center items-center
        min-h-dashboard-height h-full gap-3 w-full">

        <!-- Access Options -->
        <div class="flex flex-col justify-start items-end w-full">
          <app-dashboard-access></app-dashboard-access>
        </div>

        <!-- Pending Appointments Preview -->
        <div class="flex flex-col items-end w-full">
          <app-appointments-pending></app-appointments-pending>
        </div>
      </div>
    </div>
  </div>
}
