<div
  class="flex justify-between items-center
  h-50 w-home-page"
>
  <a
    href=""
    class="text-3xl font-bold flex flex-col gap-1 pt-4 items-center text-white 
     bg-va-primary hover:bg-va-third active:bg-va-third/90 transition size-full"
  >
      <app-patient-icon size="72px"></app-patient-icon>
      <p class="text-3xl font-bold
        underline underline-offset-4">
        Ingresar como Paciente
      </p>
      <p class="text-xl font-normal mt-3">
        Solicitá un turno, consultá horarios y más.
      </p>
  </a>

  <a
    href=""
    class="text-3xl font-bold flex flex-col gap-1 pt-4 items-center text-va-primary 
     bg-va-secondary hover:bg-va-fourth active:bg-va-fourth/90 transition size-full"
  >
    <app-specialist-icon size="72px"></app-specialist-icon>
    <p class="text-3xl font-bold
    underline underline-offset-4">
    Ingresar como Especialista
    </p>
    <p class="text-xl font-normal mt-3">
      Gestioná turnos, respondé consultas y más.
    </p>
  </a>
</div>