<div
  class="relative flex justify-between items-center overflow-hidden
   h-50 w-home-page hover:shadow-lightblue-primary hover:shadow-lg"
>
  <a
    routerLink="/login"
    class="flex flex-col text-3xl gap-1 text-white border
     border-blue-900 rounded shadow bg-va-primary hover:bg-va-third
     active:bg-va-third/90 transition duration-400 size-full"
  >
    <div class="my-icon absolute right-7 text-va-third
     transition duration-400">
      <app-login-icon size="200"></app-login-icon>
    </div>
    <div>
      <h2 class="pt-7 pl-12 text-3xl text-white font-bold">{{ title }}</h2>
      <p class="pl-12 mt-5 text-xl font-normal text-white/90">
        Iniciá sesión o registrate como 
        <strong class="font-semibold">Paciente</strong> o 
        <strong class="font-semibold">Especialista</strong>.
        <br />
        También podes usar los 
        <strong class="font-semibold">ingresos rápidos</strong> para probar el sitio.
      </p>
    </div>
  </a>
</div>
